#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  background-color: #efeff0;
  cursor: pointer;
  font-weight: 700;
  margin: 2px;
  border: none;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px;
}
.category-buttons button.active {
  background-color: #d6d6d8;
  color: #333;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
  margin-top: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.product:hover {
  transform: scale(1.05);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product h3 {
  font-size: 18px;
  margin: 10px 0;
}

.product p {
  font-size: 14px;
  color: #000000;
}
